body {
    font-family: space mono, mono space;
}
h1 {
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
}
h2 {
    font-size: 50px;
}
p {
    font-size: 20px;
}
div {
    margin-top: 200px;
    margin-left: 100px;
    width: 55%;
}
span {
    text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px #2cfcfd, 0 6.25px #fb203b, 0 12.5px #fefc4b;
}

/* #0c2ffb, #2cfcfd, #fb203b, #fefc4b */